body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #8e90ef;
  margin: 20px;
}

h1 {
  color: #000000;
  text-align: center;
}

p {
  line-height: 1.6;
  color: #ffffff;
}
/* Style for the sidebar next to "Press Contact" */
.sidebar {
  background-color: #ffffff; 
  color: rgb(0, 0, 0);
  padding: 15px;
  width: 120px;
  float: right;
  border-radius: 5px;
}
/* Style for the green box at the bottom (footer) */
footer {
  background-color: #247e4a; /* A forrest shaded green */
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  border-radius: 5px;
}
